section {
    display:none;
}
section.active {
    display: block;
}

#home.active {
    background:lightblue;
}

#about.active {
    background:yellow;
}

#loader {
    display: none;
}

#loader.display {
    display: block;
}